<h3 class="text-center mt-5 text-secondary">Calculate Weight Loss</h3>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="text" id="startDate" name="startDate" class="form-control" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="text" id="endDate" name="endDate" class="form-control" placeholder="DD/MM/YYYY">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4 d-flex justify-content-center">
    <button id="calculateWeightLoss" class="btn btn-primary btn-md">Calculate Weight Loss</button>
</div>
<h3 class="text-center mt-4 text-secondary" id="weightLossResult"></h3>

