<% title = 'Login' %>

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center"><%= title %></h2>
      <form action="/loginFormSubmit" method="post">
        <!-- Email Field -->
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>

        <!-- Password Field -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
      <p class="mt-5 text-center">Don't have an accound ?<a href="/"> SignUp</a></p>

    </div>
    
  </div>
  <% if(message){ %>
    <div class="alert alert-danger text-center container" role="alert">
      <%= message%>
    </div><% } %>
  
</div>

